table {
  margin: auto;
  margin-top: 2rem;
  width: 80%;
  border-spacing: 0;
}
th {
  text-align: left;
  border-bottom: 1px solid black;
  padding: 8px;
}
span {
  font-size: medium;
}
td {
  padding-top: 1rem;
}
th,
td {
  padding: 16px;
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
}
tr:not(:last-child) td {
  border-bottom: none;
}
#page-heading {
  text-align: center;
}
#recorded-video {
  width: 450px;
  height: 250px;
}
.meet-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
#download-recording,
#download-attendance,
#aws-upload {
  padding: 8px, 16px, 8px, 16px;
  font-size: 18px;
  line-height: 30.6px;
  align-items: center;
  background-color: #48a145;
  border-radius: 8px;
  width: 15rem;
  color: white;
  border: none;
  cursor: pointer;
}

.video-head {
  margin-left: 30%;
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
}

.student-details-heading {
  text-align: center;
  margin-top: 3rem;
  font-size: x-large;
  margin-bottom: 2rem;
}
#outline-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
#attendance-data-outline {
  align-self: center;
  display: flex;
  align-items: baseline;
  flex-direction: row;
  gap: 5rem;
}
.none {
  display: none;
}
#loader{
  width: 450px;
  height: 250px;
  position: absolute;
}
#tableLoader{
  margin-left:35% ;
  width: 200px;
  height: 150px;
  position: absolute;
  bottom: 1rem;
}

.pointerNone{
  pointer-events: none;
  background-color: gray !important;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  /* background-color: #fefefe; */
  margin: auto;
  padding: 20px;
  /* border: 1px solid #888; */
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30%;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-bottom: 20px;
}

.loading-message {
  margin-top: 50px;
  font-weight: bold;
  font-size: xx-large;
  color: whitesmoke;
}

#totalStudents,#totalMeetingDurationSpan {
  font-size: large;
  font: bold;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#upload-para{
  font-size: xx-large;
}

.blur-disabled{
  background-color: gray;
  color: white;
}

#warning-svg{
  height: 1.3rem;
  color: red;
  margin: 1rem 0.1rem;
}
#warning-para{
  color:  rgb(255, 0, 0);
  font-size: 1rem;
  margin: 1rem 0.2rem;
}
#warning-span{
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
/* .video-preview {
  width: 30vw;
  height: 30vh;
}
.buttons {
  display: flex;
  margin: 2rem;
  gap: 2rem;
}
#loading-screen {
  width: 50vw;
  height: 90vh;
  margin-left: 25vw;
}

.btn {
  background-color: DodgerBlue;
  margin: 1rem;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
}
li {
  list-style: none;
}
.video-player {
  width: 40vw;
  height: 40vh;
} */
/* #download-video{
    padding: 0.5rem;
    font-weight: 400;
    background-color: rgb(81, 163, 0);
    border: 1px solid white;
    color: aliceblue;
    border-radius: 10px;
    box-shadow: 7px 1px 10px -1px rgba(88,212,0,1);
    cursor: pointer;
} */
